@{
  Layout = "_Layout";
}

<br>
<img src="~/img/weed.png" class="landing"/>
<h1>Find your local Cannabis Dispensaries</h1>

<a href="/dispensaries">Search dispensaries database</a><BR>
<a href="/scraper">Go to scraper</a>
