@{
  Layout = "_Layout";
}

<br>
<img src="~/img/weed.png" class="landing"/>
<h1>Add New Stores to Shop Database</h1>


  <form action='/scraper/results' method='post'>
      <label for='locationName'>Search by City: </label>
      <input id='locationName' name='locationName' type='text'><br>
      <label for='number'># of stores to scrape: </label>
      <input id='number' name='number' type='number'>
      <button type='submit'>Search</button>
    </form>

