@{
  Layout = "_Layout";
}

<br>
<img src="~/img/weed.png" class="landing"/>
<h1>Scraper results</h1>

<h2>Schedule</h2>
<ul>
@foreach(var store in Model)
{
  <li>Name: @store.GetName()</li>
  <li>Description: @store.GetDescription()</li>
  <li> Schedule: @store.GetSchedule()</li>
}
</ul>

